

{% extends 'base.html' %}

{% block content %}

<h1 class="text-center mb-3" >{{ question.question_text}}</h1>



{% if error_message %}
<p class="alert alert-danger" >
    <strong>{{ error_message }}</strong>
</p>
{% endif %}


    {% csrf_token %}
    <ul class="list-group mb-5">
        <ul class="list-group mb-5">
        {% for key,choice in question.options.items%}

    <div class="form-check">
        <li class="list-group-item">
         <input type="radio"
                name="choice"
                class="form-check-input cls"
                id = "choice{{ forloop.counter }}"
                value="{{ key }}"
         />
         <label for="{{ forloop.counter}}">{{choice}}</label>
        </li>
    </div>
    {% endfor %}
</ul>

    <input type="submit" value="Submit" class="btn btn-success btn-lg btn-block mt-4 answer" onclick="checkAnswer"/>
</ul>
</form>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" >
          
        
            var checkAnswer = $(".answer").click(function(){
              console.log("hey!");
              var user_ans = $(".cls:checked").val();
              var actual_ans = "{{question.answer}}"
              if (actual_ans === user_ans) {
                  console.log("correct");
              }
            }
            )
            
          
        
              


  
         </script>

        </script>
{% endblock %}

